body {
    font-family: Verdana, Geneva, Tahoma, Arial, Helvetica, sans-serif;
    min-height: 12rem;
    padding-top: 124px;
    color: #222222;
}

.bold {
    font-weight: 600;
}

.logo-top {
    max-height: 76px;
    margin-left: 35px;
    margin-top: -24px;
}

.logo-bottom {
    max-height: 76px;
    margin: 14px auto 14px 12px;
}

.topline {
    width: 100%;
    height: 4px;
    background-color: #187BB8;
}

.banner-image {
    padding-top: 28.7356%; /* 383px tall/1879px wide =  .203831 */
    background-color: #FFFFFF;
    background-image: url(../img/blue-banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    .banner-image {
        padding-top: 240px;  
        background-position: center;
    }
}

.navbar {
    font-family: 'montserrat_bold', 'Open Sans Bold', Arial, Helvetica, sans-serif;
    z-index: 9905;
    height: 144px;
}

.navbar.home {
    font-family: 'montserrat_bold', 'Open Sans Bold', Arial, Helvetica, sans-serif;
    z-index: 9905;
    height: 144px;
}

.navbar .nav-item {
    white-space: nowrap;
    margin-left: 1rem;
}

@media (max-width: 1380px) {
    .navbar .nav-item {
        margin-left: .5rem;
    }
}

@media (max-width: 1280px) {
    .navbar .nav-item {
        margin-left: 0;
    }
}

@media (max-width: 1220px) {
    .navbar .nav-item {
        margin-left: 0;
        font-size: 85%;
    }

    .navbar .nav-button {
        padding: .2rem .35rem;
        margin-left: .4rem;
        font-size: 85%;
    }
}

@media (max-width: 1098px) {
    .navbar .nav-item {
        margin-left: 0;
        font-size: 75%;
    }

    .navbar .nav-button {
        padding: .12rem .35rem;
        margin-left: .4rem;
        font-size: 75%;
    }

    .logo-top {
        margin-left: 22px;
    }
}

@media (max-width: 998px) {
    .navbar .nav-item {
        margin-left: 0;
        font-size: 70%;
    }

    .navbar .nav-button {
        padding: .12rem .35rem;
        margin-left: .4rem;
        font-size: 70%;
    }

    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: .2rem;
        padding-left: .2rem;
    }

    .logo-top {
        margin-left: 12px;
    }
}

.navbar-toggler {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-collapse.show {
    background-color: #FFFFFF;
    border:1px solid #DDDDDD;
    border-radius: 4px;
    padding: 10px;
}

.navbar-collapse a {
    color: #383838;
    text-transform: uppercase;
    position: relative;
    top: -.8rem;
}

.navbar-collapse .active a {
    color: #777777;
}

.navbar .nav-button {
    background-color: #1777B2;
    border-radius: 3px;
    color: #FFFFFF;
    padding: .3rem .5rem;
    position: relative;;
    top: -.3rem;
    text-decoration: none;
    margin-left: .6rem;
    margin-right: .6rem;
    -moz-transition: background-color 300ms ease-in; 
    -webkit-transition: background-color 300ms ease-in; 
    -o-transition: background-color 300ms ease-in; 
    transition: background-color 300ms ease-in; 
}

.navbar-collapse.show .nav-button {
    margin-left: 0;
}

.navbar .nav-button:hover,
.navbar .nav-button:active,
.navbar .nav-button:focus
{
    color: #FFFFFF;
    background-color: #3EA8E6;
}

.navbar-collapse a.dropdown-item {
    font-family: 'montserrat_regular', 'Open Sans Regular', Arial, Helvetica, sans-serif;

    text-transform: none;
    font-size: 90%;
}

.navbar-collapse a:hover {
    color: #787878;
}

.navbar-collapse .dropdown-item {
    color: #222222;
}

.navbar-collapse .dropdown-item:hover,
.navbar-collapse .dropdown-item:active
 {
    color: #555555;
}

.dropdown,
.dropdown:focus,
.dropdown:active,
.dropdown.show,
.dropdown.show:focus,
.dropdown.show:active,
.dropdown-menu,
.dropdown-menu:focus,
.dropdown-menu:active
.dropdown-menu.show,
.dropdown-menu.show:focus,
.dropdown-menu.show:active,
.dropdown-toggle,
.dropdown-toggle:focus,
.dropdown-toggle:active
  {
    outline: none !important;
    -webkit-outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.body-copy-lg {
    font-size: 18px;
    color: #222222;
}

.body-copy {
    font-size: 16px;
    color: #222222;
}

.bg-wavy {
    background-image: url(../img/blue-wavy-line.png)
}

.img-rounded {
    border-radius: 4px;
    box-sizing: border-box;
}

.color-header {
    color: #9C182F;
    font-size: 26px;
}


div.card-text.header {
    text-align: center; 
    color: #222222;
    margin-bottom:.3rem;
    font-size:1rem;
}

div.card-text {
    text-align: center; 
    color: #888888;
    font-size:.9rem;
}

.card-img-top {
    text-align: center;
}

.card-img-top > img {
     margin: .8rem auto;
}

.card-top-green {
    background-color: #77BD77;
}


.divider-div {
    width:100%; 
    height:2px; 
    background-color: #E3E3E3;
}
 
.bottom-line {
    background-color: #127EC2;
    width: 100%; 
    height: 4px; 
}

.footer-dark {
    background-color: #F7F7F7;
}

.footer-header {
    text-transform: uppercase;
}

.footer-body-copy {
    font-size: 99%;
}

.footer-body-copy p {
    margin-bottom: .2rem;
    padding-bottom: .33rem;
}

.footer-body-copy p:last-of-type {
    border-bottom: none;
}

.footer-widgets {
    color:#747474;
}

.footer-link {
    color:rgba(197,197,197, 0.99);
}

.footer-link:hover {
    color:rgba(222,222,222, 0.99);
}

#copyrights {
    background-color: #000000;
    color: #555555;
    font-size: 90%;
    padding: 1.5rem 0;
}

.success-stories .success-item {
    margin-bottom: .67rem;
    padding: .67rem;
}

.success-stories .success-item:nth-child(even) {
    background-color: #F3F3F3;
}

.sub-information-block {
    padding: 1rem;
    background-color: #F3F3F3;
    border-radius: 3px;
    margin-top: 1.5rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.news-item  {
    list-style-image: url(../img/icon-carrot.png);
    margin-left: -24px;
} 

.news-item > li  {
    margin-bottom:6px;
} 

.news-item a {
    color: #222222;
} 

.right-rail-menu-header {
    font-size: 110%;
    color: #9C182F;
    font-weight: bold;
    position: relative;
    left: 44px;
    top: -8px;
}

.right-rail-menu {
    position: relative;
    left: 2px;
    display: block;
    width: 450px;
}

.right-rail-menu > li  {
    margin-bottom: 6px;
    background: url(../img/icon-carrot.png) no-repeat 0px 8px transparent;
    list-style-type: none;
    padding: 0px 0px 1px 16px;
    vertical-align: middle;
} 

.right-rail-menu > li.rr-indent {
    background: url(../img/icon-carrot.png) no-repeat 14px 8px transparent;
    padding-left: 30px;
}

.right-rail-menu a {
    color: #222222;
} 

.module-lead-in {
    font-weight: bold;
    color: #4B4B4B;
}

.label-div {
    display: inline-block;
    position: relative;
    top: 6px;
}

.form-control-inline {
    display: inline-block;
}

.code-box {
    background-color: #9C182F;
    border-radius: 4px;
    color: #FFFFFF;
    padding: .366rem .9rem;
    text-decoration: none;
    outline: none;
    border: 1px solid #9C182F;
    display: inline-block;
    margin-right: 8px;
}

.submit-button {
    background-color: #1777B2;
    border-radius: 4px;
    color: #FFFFFF;
    padding: .5rem .9rem;
    text-decoration: none;
    outline: none;
    border: 1px solid #1777B2;
    -moz-transition: background-color 300ms ease-in; 
    -webkit-transition: background-color 300ms ease-in; 
    -o-transition: background-color 300ms ease-in; 
    transition: background-color 300ms ease-in; 
}

.submit-button:hover, .submit-button:active {
    background-color: #34A4E5;
}

