body {
    font-family: 'Open Sans Regular', 'Lato Regular', Arial, Helvetica, sans-serif;
    min-height: 12rem;
    padding-top: 124px;
}

.bold {
    font-family: 'Open Sans Bold', 'Lato Bold', Arial, Helvetica, sans-serif;
}

.body-copy-lg {
    font-size: 18px;
    color: #777777;
}

.body-copy {
    font-size: 16px;
    color: #888888;
}

.bg-trans {
    background-color: transparent;
}

.img-rounded {
    border-radius: 4px;
}

.green-line {
    width: 100%; 
    height: 6px; 
    background-color: #006245;
}

.bread-crumb,
.bread-crumb a {
    color: #999999;
    text-transform: uppercase;
}


div.card-text.header {
    text-align: center; 
    color: #222222;
    margin-bottom:.3rem;
    font-size:1rem;
}

div.card-text {
    text-align: center; 
    color: #888888;
    font-size:.9rem;
}

.card-img-top {
    text-align: center;
}

.card-img-top > img {
     margin: .8rem auto;
}

.card-top-green {
    background-color: #77BD77;
}

.card-top-blue {
    background-color: #679DCD;
}

.card-top-violet {
    background-color: #8279BB;
}

.card-top-red {
    background-color: #BD7787;
}

.card-top-orange {
    background-color: #C18873;
}

.card-top-yellow {
    background-color: #C6BC67;
}

.divider-div {
    width:100%; 
    height:2px; 
    background-color: #E3E3E3;
}

.topwhite {
    position: fixed;
    height: 124px;
    z-index: 9900;
    display: block;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #ffffff;
}

.topline {
    position: fixed;
    height: 58px;
    z-index: 9901;
    display: block;
    top: 33px;
    width: 100%;
    background-color: #0d6c4c;
}

.topline-right {
    position: absolute;
    height: 58px;
    z-index: 9902;
    display: block;
    top: 0;
    right: 0;
    left: 220px;
    width: 99%;
    background-color: #aa0633;
}

.navbar {
    z-index: 9905;
    height: 124px;
}

.navbar .nav-item {
    white-space: nowrap;
}


.navbar-collapse a {
    color: #ffffff;
    text-transform: uppercase;
}

.navbar .nav-button {
    background-color: #FFFFFF;
    border-radius: 3px;
    color: #006245;
    padding: .3rem;
    position: relative;;
    top: .5rem;
    text-decoration: none;
    margin-left: .6rem;
    margin-right: .6rem;
}

.navbar .nav-button:hover,
.navbar .nav-button:active,
.navbar .nav-button:focus
{
    background-color: #EEEEEE;
    color: #006245;
}

.navbar-collapse a.dropdown-item {
    text-transform: none;
    font-size: 90%;
}

.navbar-collapse a:hover {
    color: rgba(255,255,255,0.8);
}

.navbar-collapse .dropdown-item {
    color: #222222;
}

.navbar-collapse .dropdown-item:hover,
.navbar-collapse .dropdown-item:active
 {
    color: #555555;
}

.dropdown,
.dropdown:focus,
.dropdown:active,
.dropdown.show,
.dropdown.show:focus,
.dropdown.show:active,
.dropdown-menu,
.dropdown-menu:focus,
.dropdown-menu:active
.dropdown-menu.show,
.dropdown-menu.show:focus,
.dropdown-menu.show:active,
.dropdown-toggle,
.dropdown-toggle:focus,
.dropdown-toggle:active
  {
    outline: none !important;
    -webkit-outline: none !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.footer-dark {
    background-color: #383838;
}

.footer-header {
    text-transform: uppercase;
}

.footer-body-copy {
    font-size: 90%;
}

.footer-body-copy p {
    margin-bottom: .2rem;
    padding-bottom: .33rem;
    border-bottom: 1px solid rgb(99,99,99);
}

.footer-body-copy p:last-of-type {
    border-bottom: none;
}

.footer-widgets {
    color:#c5c5c5;
}

.footer-link {
    color:rgba(197,197,197, 0.99);
}

.footer-link:hover {
    color:rgba(222,222,222, 0.99);
}

#copyrights {
    background-color: #000000;
    color: #555555;
    font-size: 90%;
    padding: 1rem 0;
}

.success-stories .success-item {
    margin-bottom: .67rem;
    padding: .67rem;
}

.success-stories .success-item:nth-child(even) {
    background-color: #F3F3F3;
}

.sub-information-block {
    padding: 1rem;
    background-color: #F3F3F3;
    border-radius: 3px;
    margin-top: 1.5rem;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }