/* <div class="zoom"></div> */

*{
  box-sizing: border-box;
}

.zoom {
  transition: transform .25s ease-out;
}

.zoom:hover {
  -ms-transform: scale(1.06); /* IE 9 */
  -webkit-transform: scale(1.06); /* Safari 3-8 */
  transform: scale(1.06); 
}

.lift {
  transition: top .25s ease-out;
  position: relative;;
  top: 0px;
}

.lift:hover {
  top: -20px;
}


/*
IMAGE ZOOM
https://w3bits.com/css-image-hover-zoom/
<div class="img-hover-zoom">
  <img src="/path/to/image/" alt="This zooms-in really well and smooth">
</div>
*/

/* [1] The container */
.img-hover-zoom {
    height: 300px; /* [1.1] Set it as per your need */
    overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  }
  
  /* [2] Transition property for smooth transformation of images */
  .img-hover-zoom img {
    transition: transform .5s ease;
  }
  
  /* [3] Finally, transforming the image when container gets hovered */
  .img-hover-zoom:hover img {
    transform: scale(1.5);
  }

  /* 
  MORE EFFECTS 
  The Image container: 
.img-hover-zoom {
    height: 300px; 
    overflow: hidden;  
  }
*/

/* Quick-zoom Container */
.img-hover-zoom--quick-zoom img {
    transform-origin: 0 0;
    transition: transform .25s, visibility .25s ease-in;
  }
  
  /* The Transformation */
  .img-hover-zoom--quick-zoom:hover img {
    transform: scale(2);
  }


  /* Point-zoom Container */
.img-hover-zoom--point-zoom img {
    transform-origin: 65% 75%;
    transition: transform 1s, filter .5s ease-out;
  }
  
  /* The Transformation */
  .img-hover-zoom--point-zoom:hover img {
    transform: scale(5);
  }
  

  
  /* Zoom-n-rotate Container */
  .img-hover-zoom--zoom-n-rotate img {
    transition: transform .5s ease-in-out;
  }
  
  /* The Transformation */
  .img-hover-zoom--zoom-n-rotate:hover img {
    transform: scale(2) rotate(25deg);
  }


  /* Brightness-zoom Container */
.img-hover-zoom--brightness img {
    transition: transform 2s, filter 1.5s ease-in-out;
    transform-origin: center center;
    filter: brightness(50%);
  }
  
  /* The Transformation */
  .img-hover-zoom--brightness:hover img {
    filter: brightness(100%);
    transform: scale(1.3);
  }